<?xml version="1.0"?>
 <launch>
   <arg name="config" default="urdf"/>
   <arg name="rvizconfig" default="$(find mecabot_body)/rviz/urdf.rviz" />

   <param name="robot_description" command="$(find xacro)/xacro '$(find mecabot_body)/urdf/mecabot.urdf.xacro'"/>

   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
 </launch>